set bookmarks(Geekshed) {irc.geekshed.net 7070 byteslol #qweex}
set raiseNewTabs true
set defaultQuit "KThxBai"
set defaultBan "You are a meanie"
set defaultPart "later skater"
set defaultAway "I am a fish"
set logDir "/mnt/Tera/notbryant/Dropbox/.psyche/log"
set timeout 10000
#set popupLocation se
set popupTimeout 5000